.team-section {
	background-color: #f5f4fa;
}
.hero-team-list {
	display: flex;
}
.hero-team-item {
	margin-right: 30px;
	background-color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	border-radius: 0px 0px 4px 4px;
}
.hero-team-item:last-child {
	margin-right: 0px;
}
.hero-team-member {
	color: var(--primary-title-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}
.hero-text,
.hero-team-text {
	color: var(--primary-text-color);
}
.hero-text {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.hero-team-text {
	font-size: 16px;
	line-height: 1.8;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 16px;
}
.hero-team-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-soc {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.team-soc-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
	background-color: #2196f3;
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
	fill: #ffffff;
}

.team-soc-icon {
	fill: #afb1b8;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}